@use '@angular/material' as mat;

@import './base/typography.scss';
@import './helpers/constants.scss';
@import './modules/nav.scss';
@import './modules/button.scss';
@import './modules/header.scss';
@import './modules/link.scss';

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

$custom-typography: mat.define-typography-config(
	$font-family: 'Linden-Hill, sans-serif'
);


$frontend-theme: mat.define-light-theme((
	color: (
		primary: $frontend-primary,
		accent: $frontend-accent,
		warn: $frontend-warn,
	),
	typography: $custom-typography,
	density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

$dark-background: darken($background-color, 5%);

body {
	height: 100%;
	width: 90%;
	margin: 0 auto; //2em?
	padding: 0 20px 20px 20px;
	border: 5px solid transparent;
	font: 100% $font-stack;
  	color: $font-color;
  	background-color: $background-color;
	text-align: center;
}

div {
	background-color: $dark-background;
}

.logbutton {
	// margin: 0;
	// background-color: $button-color;
	border: 2px solid darken($button-color, 10%);
	margin-top: -1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.chat_column {
	flex: 50%;
	min-height: 200px;
	height: auto;
	padding: 10px;
	margin: 5px;
	background-color: $column-color;
	// background-color: $background-color;
	text-align: center;
}
.chat_container {
	display: flex;
}

.error_message {
	color: $contrast-color;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
