/* You can add global styles to this file, and also import other style files */

@import './base/typography.scss';
@import './helpers/constants.scss';
@import './modules/nav.scss';
@import './modules/button.scss';
@import './modules/header.scss';
@import './modules/link.scss';

$dark-background: darken($background-color, 5%);

body {
	width: 90%;
	margin: 0 auto; //2em?
	padding: 0 20px 20px 20px;
	border: 5px solid transparent;
	font: 100% $font-stack;
  	color: $font-color;
  	background-color: $background-color;
	text-align: center;
}

div {
	background-color: $dark-background;
}

.logbutton {
	// margin: 0;
	// background-color: $button-color;
	border: 2px solid darken($button-color, 10%);
	margin-top: -1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.chat_column {
	flex: 50%;
	min-height: 200px;
	height: auto;
	padding: 10px;
	margin: 5px;
	background-color: $column-color;
	// background-color: $background-color;
	text-align: center;
}
.chat_container {
	display: flex;
}

.errormessage {
	color: $contrast-color;
}