@import '../../../../styles/helpers/constants.scss';
@import '@angular/material/prebuilt-themes/purple-green.css';

.chat_columns {
	flex: 33.33%;
	min-height: 100px;
	max-height: 300px;
	height: auto;
	padding: 10px;
	margin: 5px;
	background-color: $column-color;
	text-align: center;
	overflow-y: auto; 
  }

.chat_input button:hover {
	color: lighten($font-color, 10%);
	background-color: darken($button-color, 10%);
	left: .1em;
}

.blue-text {
	color: blue;
	text-align: right;
}

.black-text {
	color: black;
	text-align: left;
  }

// .mat-form-field, .mat-select-value, .mat-option {
//     color: black !important;
// }

// .cdk-overlay-container {
//     background-color: white !important;
// }

// .div mat-mdc-form-field-infix{
// 	background-color: white;
// }

// .mat-mdc-text-field-wrapper {
// 	background-color: white !important;
//   }


// div {
// 	background: white;
//     /* background-color: #f6e3d1; */
// }

// ::ng-deep .mat-select-panel .div .cdk-overlay-container{
//     background: white;
//     color: black;
// }

// ::ng-deep .mat-option {
//     background: white;
//     color: black;
// }

// ::ng-deep .mat-option:hover {
//     background: #f0f0f0; /* Optional: A lighter background on hover */
//     color: black;
// }

// ::ng-deep .mat-option-selected {
//     background: #e0e0e0; /* Optional: A slightly different background for the selected option */
//     color: black;
// }