<div class="header" *ngIf="user" else noUser>
	<h2> {{user.nickname}} Chat </h2>
</div> 	

<ng-template #!User>
	<h2> Chat !User </h2>
</ng-template>

<div class="chat-room_container">

  <div class="create-room-column">
    <h3>Create a room:</h3>
    <input [(ngModel)]="roomName" (keydown.enter)="createRoom(roomName!, 'public', '')" type="text">
    <button (click)="createRoom(roomName!, 'public', '')">Send</button>
  </div>

<div class="chat-room_column">
    <h3> Your chats </h3>
    <!-- <ul> -->
      <li *ngFor="let roomName of getRoomNames()">
        <!-- {{ roomName }} -->
        <button [class.selected]="roomsList[roomName] === selectedRoom" type="button" (click)="onSelect(roomsList[roomName])"> {{ roomName }} </button>
        <button (click)="joinRoom(roomName, '')"> joinRoom </button>
        <!-- <button (click)="sendUserList(roomName)"> sendUserList(old)</button> -->
      </li>
    <!-- </ul> -->
</div>

  <div class="chat-room_columns" *ngIf="selectedRoom">
    <app-chat-message [room]="selectedRoom" [user]="user"></app-chat-message>
  </div>

  <div class="user-list-column">
    <h3> List of connected users: </h3>
      <li *ngFor="let m of userss">
        {{ m }}
      </li>
  </div>

  <!-- <div class="chat-column">
    <input [(ngModel)]="message" (keydown.enter)="sendMessage()" type="text">
    <button (click)="sendMessage()"> Send </button>
  </div> -->
</div>




<!-- <p>chat works!</p>

<div class = chat_container>

	<div class = chat_column>
		<h3> Your channels </h3>
		<ul>
			<li *ngFor="let r of rooms">
				{{ r }}
				<button (click)="joinRoom(r)"> Send </button>
				<button (click)="sendUserList(r)"> Send </button>
			</li>
		</ul>
		
	</div>

	<div class="chat_column">
		<h3>Create a room:</h3>
		<input [(ngModel)]="roomName" (keydown.enter)="createRoom(roomName!)" type="text">
		<button (click)="createRoom(roomName!)">Send</button>
	  </div>
	  

	<div class = chat_column>
		<h3> the messages in channel:  </h3>
		<ul>
			<li *ngFor="let m of messages">
				{{ m }}
			</li>
		</ul>
	
		<input [(ngModel)]="message" (keydown.enter)="sendMessage()" type="text" > 
		<button (click)="sendMessage()"> Send </button>
	</div>
</div> -->
