@import '../../../styles/helpers/constants.scss';

.chat-room_container {
	display: flex;
	flex-wrap: wrap;
  }
  
  .create-room-column {
	flex: 0 0 100%;
	padding: 10px;
	margin-bottom: 10px;
	background-color: $column-color;
	text-align: center;
  }
  
  .chat-room_column {
	flex: 1 0 33.33%;
	padding: 10px;
	margin: 0 5px 5px 5px;
	background-color: $column-color;
	text-align: center;
	overflow-y: auto;
  }
  
  .user-list-column {
	flex: 0 0 100px;
	margin-left: auto;
	padding: 10px;
	background-color: $column-color;
	overflow-y: auto;
  }
  
  .chat-column {
	flex: 1 0 auto;
	padding: 10px;
	margin: 0 5px 5px 5px;
	background-color: $column-color;
	text-align: center;
  }
  