
<ng-template #no_chatChannel_selected>
	<mat-error>No ChatChannel Selected</mat-error>
  </ng-template>
  
  <!-- your-component.component.html -->
  
  <div *ngIf="chatChannel; else no_chatChannel_selected" class="chat-container">
  
	<!-- Header -->
	<div class="header">
	  <span>
		<h2>{{chatChannel.id}}</h2>
		<span class="event-info">
		  <mat-icon>event</mat-icon>
		  <p>{{chatChannel.updated_at | date}}</p>
		</span>
	  </span>
	  <span>
		<h3>{{chatChannel.description}}</h3>
		<!-- <span *ngFor="let user of chatChannel.channelOwner">{{chatChannel.channelOwner}}, </span> -->
  
	  </span>
	</div>
  
	<!-- Messages -->
	<div #messages class="message">
	  <span *ngFor="let message of (messagesMeta$ | async)?.items">
		<app-message-socket [message]="message"></app-message-socket>
	  </span>
	</div>
  
	<!-- Add Message -->
  <div class="add-message">
	<mat-form-field>
	  <input matInput [formControl]="chatMessage" type="text" placeholder="Type your message">
	</mat-form-field>
  
	<mat-form-field>
	  <input matInput [(ngModel)]="this.chatChannel" type="text" placeholder="Channel ID">
	</mat-form-field>
  
	<button mat-button [disabled]="!chatMessage.valid" (click)="sendMessage()">
	  <span>
		<mat-icon>send</mat-icon>
		<p>Send</p>
	  </span>
	</button>
  </div>
  
  <ng-template #no_chatChannel_selected>
	<mat-error>No ChatChannel Selected</mat-error>
  </ng-template>
  
  