// @import 'src/app/styles/styles.scss'

.friend_column {
	flex: 33.33%;
	height: 200px;
	padding: 10px;
	margin: 5px;
	background-color: linen;
	// background-color: $background-color;
	text-align: center;
}
.friend_container {
	display: flex;
}