<nb-card>
	<nb-card-header><h6>Change protected of {{selectedRoom!.name}}</h6></nb-card-header>
	<nb-card-body>
	  <form (ngSubmit)="submitForm()">
		<div class="room-name-input">
			<label for="roomName">Room name:</label>
			<input type="text" id="roomName" name="roomName" nbInput [(ngModel)]="roomName" [readonly]="true" required>
		</div>

		<div class="password-input">
			<label for="Password"> Give me Password:</label>
			<input type="text" id="Password" name="Password" nbInput [(ngModel)]="Password">
		</div>

		<div class="submit-button">
			<button nbButton type="submit">Submit</button>
			<div *ngIf="submitWithoutName" class="error">Please give your room a name</div>
		</div>
		
	  </form>
	</nb-card-body>
  </nb-card>