<span *ngIf="isNotHomeRoute()" >
	<h1> 
		{{ title }}
	</h1>

	<nav >
		|
		<a routerLink="/dashboard/home" > home </a>
		|
		<a routerLink="/dashboard/settings"> settings </a>
		|
		<a routerLink="/dashboard/game-menu"> game-menu </a>
		|
		<a routerLink="/dashboard/friends"> friends </a>
		|
		<a routerLink="/dashboard/account"> account </a>
		|
		@if (this.unread) {
			<a class="newchat" routerLink="/dashboard/chat"> NEW CHAT </a>
		}
		@else {
			<a routerLink="/dashboard/franchat"> chat </a>
		}
		|
			<!-- <a routerLink="/dashboard/chat"> chat </a> -->
		<!-- | -->
		<app-logout class="navright"/>
	</nav>
</span>

<router-outlet></router-outlet>

<!-- <app-logout/> -->
