<nb-layout>
<nb-layout-column>
<div class="chat-room_container">
	<div class="rooms-list">
        <h3>Rooms</h3>
        <ul>
          <li *ngFor="let roomName of getRoomNames()">
            <button [class.selected]="roomsList[roomName] === selectedRoom" type="button" (click)="onSelect(roomsList[roomName])">
              {{ roomName }}
            </button>
            <button (click)="joinRoom(roomName, '')">Join Room</button>
          </li>
        </ul>
      </div>
	<div class="create-room-column">
		<h3>Create a room:</h3>
		<input [(ngModel)]="roomName" (keydown.enter)="createRoom(roomName!, 'public', '')" type="text">
		<button (click)="createRoom(roomName!, 'public', '')">Send</button>
	</div>

	<div class="user-list-column">
		<h3>Users:</h3>
		<nb-card *ngFor="let m of userss">
			<app-user-detail [id]=m></app-user-detail>
		</nb-card>
	</div>

	<div class="chat-column" *ngIf="selectedRoom">
			<nb-chat size="large" scrollbottom="true" title="Chat UI" *ngIf="selectedRoom">
				<nb-chat-message *ngFor="let msg of selectedRoom.messages"
								[message]="msg.message"
								[avatar]="msg.sender_avatar!"
								[sender]="msg.sender_name"
								[date]="msg.created"
								[reply]="this.user.nickname === msg.sender_name">
				
				</nb-chat-message>
				<nb-chat-form (send)="sendMessage($event)" [dropFiles]="false">
				</nb-chat-form>
			</nb-chat>
	</div>
</div>
</nb-layout-column>
</nb-layout>