

<h1> Settings </h1>

<div class="setting_container">
	<h3 class="setting_header"> Set things right! </h3>
	<div class="setting_column">
		<h2> The things to set: </h2>
		<div>
			<span>
				Google 2FA:
			</span>
			<input type="checkbox" [(ngModel)]="is2faEnabled" (change)="onChange()">
		</div>
		<div>
			<span>
				Nickname:
			</span>
		</div>
	</div>
	<div class="setting_column">
		<div *ngIf="isChecked" >
			<h3> Enable Google 2FA </h3>
			<div>
				Scan the QR code in your Google Authenticator:
			</div>
			<div>
				<img src="{{this.qrCode}}">
			</div>
			<div>
				<span>
					Or enter this code:
				</span>
				{{this.secret}}
			</div>
			<div>
				<span>
					Please confirm by entering the one time password from your Google Authenticator:
				</span>
				<input type="text" [(ngModel)]="userInput" />
			</div>
			<button (click)="verifyUserInput()">
				Verify
			</button>
			{{this.verificationRes}}
		</div>
	</div>

</div>




<!-- <p>
	<input type="checkbox" [(ngModel)]="is2faEnabled" (change)="onChange()"> Enable Google 2FA
</p>
<p *ngIf="isChecked">
	Scan the QR code in your Google Authenticator
</p>
<img src="{{this.qrCode}}" *ngIf="isChecked">
<p *ngIf="isChecked">Or enter this code: {{this.secret}}</p>

<input type="text" [(ngModel)]="userInput" *ngIf="isChecked">

<p *ngIf="isChecked">
	Confirm this change by entering the one time password from your Google Authenticator
</p>

<button (click)="verifyUserInput()" *ngIf="isChecked">
	Verify
</button>

<p *ngIf="isChecked">
	{{this.verificationRes}}
</p>
<p *ngIf="!isChecked">

</p> -->
