

<h1> Settings </h1>

<div class="setting_container">
	<h3 class="setting_header"> Set things right! </h3>
	<div class="setting_column" *ngIf="current_user_id">
		<h2> How Gary knows you: </h2>
		<app-user-detail [id]="current_user_id"> </app-user-detail>
	</div>
	<div class="setting_column">
		<h2> The things to set: </h2>
		<ul>
			<div>
				<span> Google 2FA: </span>
				<input type="checkbox" [(ngModel)]="is2faEnabled" (change)="onChange()">
			</div>
			<div>
				<form [formGroup]="profileForm" (ngSubmit)="changeName()" >
					<span> Nickname: </span>
					<input type="text" formControlName="nickname" maxlength="13" placeholder={{current_nickname}} required/>
					@if (profileForm.value.nickname != '') {
						<button type="submit" [disabled]="!profileForm.valid">
							send new nickname
						</button>
					}
				</form>
				<span> Avatar: </span>
				<input type="file" (change)="selectFile($event)" > 
				<button type="submit" (click)="changeAvatar()"> submit </button>
			</div>
		</ul>
	</div>
	<div class="setting_column">
		@if (this.preview) {
			<h3> preview </h3>
			<img src={{this.preview}} width="100" height="100" />
		}

		@if (isChecked) {
			<h3> Enable Google 2FA </h3>
			<div>
				Scan the QR code in your Google Authenticator:
			</div>
			<div>
				<img src="{{this.qrCode}}">
			</div>
			<div>
				<span>
					Or enter this code:
				</span>
				{{this.secret}}
			</div>
			<div>
				<span>
					Please confirm by entering the one time password from your Google Authenticator:
				</span>
				<input type="text" [(ngModel)]="userInput" />
			</div>
			<button (click)="verifyUserInput()">
				Verify
			</button>
			{{this.verificationRes}}
		}

		@if (profileForm.value.nickname == '') {
			@if (errorMessage) {
				<p class="error_message"> Gary got a problem : {{errorMessage}}</p>
			}
		} @else if (profileForm.pending) {
			<p>
				Let Gary think about it...
			</p>
		} @else if (profileForm.invalid) {
			<p>
				nooo Gary hates that!
			</p>
		} @else {
			<p>
				Such a pretty name 😏
			</p>
		}

		@if (succesMessage) {
			<p> Gary approves : {{succesMessage}} 
				@if (succesMessage === "Nickname changed") {
					to: "{{this.current_nickname}}"
				}
			</p>
			<p><button class="refresh" type="button" (click)="reload()">reload</button> to see changes </p>
		}
	</div>
</div>
