@import '../../../styles/styles.scss';

.setting_container {
	display: flex;
	padding: 3%;
	background-color:$font-color;
}

.setting_header {
	position: absolute;
	transform: translate(-50%);
	left: 50%;
	font-size: larger;
}

.setting_column {
	flex: 33.33%;
	padding: 3%;
	background-color: $column-color;
}

