/* You can add global styles to this file, and also import other style files */
$font-stack: Linden Hill;
$primary-color: #333;

* {
	background-color: B1ACA2;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}
