<label for="nickname">Nickname:</label>
<input type="text" id="nickname" [(ngModel)]="registration.nickname" placeholder="Enter a nickname here" />



<h1>Hello {{ registration.nickname }}!</h1>

<p>Now show yourself to Gary </p>

<label for="avatar">Avatar:</label>
<input type="file"  (change)="uploadFile($event)"/>

<div>
	<button class="logbutton" (click)="register()"> register </button>
</div>

<img ngSrc="/assets/images/another_gary.jpeg" width="100" height="100" priority /> 
<img ngSrc={{default_avatar.name}} width="100" height="100" priority /> 


@if (this.filename != "") {
	<p> {{this.filename}} </p>
	<img ngSrc={{this.filename}} width="100" height="100" priority /> 
	

}

@if (this.updated_avatar) {
	<p> {{this.updated_avatar.name}} </p>
	<img ngSrc={{this.updated_avatar}} width="100" height="100" priority />

	<!-- <a href="{{ updated_avatar.url }}">{{ updated_avatar.name }}</a> -->
}
